<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="box">
  <%newListItems.forEach(function(ele){  %>
  <form  action="/delete" method="post">
    <div class="item">
      <input onChange="this.form.submit()" name="delcheck" value="<%=ele._id%>" type="checkbox">
      <p><%=  ele.name  %></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>"></input>
  </form>

  <% }) %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" value="<%= listTitle %>" name="list">+</button>
  </form>
</div>

<%- include("footer") -%>
